body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#eventoDiv{
    height: 200px;
    background: antiquewhite;
}

#btnMain{
    height: 300px;
    width: 300px;
}